.Dictionary {
  text-align: center;
}
.Dictionary h1 {
  font-size: 30px;
  font-weight: bold;
  font-family: "Signika Negative script=latin rev=2";
  color: aliceblue;
  margin-bottom: 20px;
}

.Dictionary section {
  background-color: #170055;
  padding: 30px;
  margin: 20px 0;
  border-radius: 20px;
  box-shadow: 0 8px 10px #888888;
}

.Dictionary input {
  width: 100%;
  padding: 6px 10px;
  color: #548ca8;
  border-radius: 6px;
  border: 1px solid #888888;
}
